In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('./2015.csv')

In [3]:
a = []
for i in range(158):
    a.append(2015)
df1['Year']=a

In [4]:
df1.rename(columns = {'Economy (GDP per Capita)' : 'GDP',
                        'Health (Life Expectancy)' : 'Life',
                        'Trust (Government Corruption)' : 'Trust'}, inplace = True)
df1=df1.drop(columns=['Standard Error','Dystopia Residual'])

In [6]:
df2 = pd.read_csv('./2016.csv')

In [7]:
b = []
for i in range(157):
    b.append(2016)
df2['Year']=b

In [8]:
df2.rename(columns = {'Economy (GDP per Capita)' : 'GDP',
                        'Health (Life Expectancy)' : 'Life',
                        'Trust (Government Corruption)' : 'Trust'}, inplace = True)

In [9]:
df2=df2.drop(columns=['Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'])

In [11]:
df3 = pd.read_csv('./2017.csv')

In [12]:
c = []
for i in range(155):
    c.append(2017)
df3['Year']=c

In [13]:
df3.rename(columns = {'Happiness.Rank' : 'Happiness Rank',
                        'Happiness.Score' : 'Happiness Score',
                        'Economy..GDP.per.Capita.' : 'GDP',
                        'Health..Life.Expectancy.' : 'Life',
                        'Dystopia.Residual' : 'Dystopia Residual',
                        'Trust..Government.Corruption.' : 'Trust'}, inplace = True)

In [14]:
df3=df3.drop(columns=['Whisker.high','Whisker.low','Dystopia Residual'])

In [16]:
df4 = pd.read_csv('./2018.csv')

In [17]:
d = []
for i in range(156):
    d.append(2018)
df4['Year']=d

In [18]:
df4.rename(columns = {'Overall rank' : 'Happiness Rank',
                        'Score' : 'Happiness Score',
                        'Country or region' : 'Country',
                        'Social support' : 'Family',
                        'Freedom to make life choices' : 'Freedom',
                        'GDP per capita' : 'GDP',
                        'Healthy life expectancy' : 'Life',
                        'Perceptions of corruption' : 'Trust'}, inplace = True)

In [20]:
df5 = pd.read_csv('./2019.csv')

In [21]:
e = []
for i in range(156):
    e.append(2019)
df5['Year']=e

In [22]:
df5.rename(columns = {'Overall rank' : 'Happiness Rank',
                        'Score' : 'Happiness Score',
                        'Country or region' : 'Country',
                        'Social support' : 'Family',
                        'Freedom to make life choices' : 'Freedom',
                        'GDP per capita' : 'GDP',
                        'Healthy life expectancy' : 'Life',
                        'Perceptions of corruption' : 'Trust'}, inplace = True)

In [24]:
dfs=[df1,df2,df3,df4,df5]
for df in dfs:
    if not ('Region') in df:
        df['Region'] = None
        temp = df.set_index('Country').Region.fillna(df1.set_index('Country').Region).reset_index()
        df.fillna(temp, inplace = True)

In [25]:
df1

,Country,Region,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Trust,Generosity,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,2015
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,2015
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,2015
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,2015
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,2015

In [26]:
df2

,Country,Region,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Trust,Generosity,Year
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2016
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2016
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2016
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2016
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2016
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2016
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2016
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2016
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,2016
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2016

In [27]:
df3

,Country,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Generosity,Trust,Year,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2017,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2017,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2017,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2017,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2017,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,2017,Sub-Saharan Africa
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,2017,Middle East and Northern Africa
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,2017,Sub-Saharan Africa
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,2017,Sub-Saharan Africa
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2017,Sub-Saharan Africa

In [28]:
df4

,Happiness Rank,Country,Happiness Score,GDP,Family,Life,Freedom,Generosity,Trust,Year,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408,2018,Western Europe
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138,2018,Western Europe
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357,2018,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064,2018,Middle East and Northern Africa
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097,2018,Sub-Saharan Africa
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106,2018,NaN
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038,2018,Sub-Saharan Africa
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076,2018,Sub-Saharan Africa

In [29]:
df5

,Happiness Rank,Country,Happiness Score,GDP,Family,Life,Freedom,Generosity,Trust,Year,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,Western Europe
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019,Western Europe
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019,Western Europe
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,2019,Sub-Saharan Africa
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,2019,Sub-Saharan Africa
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,2019,Southern Asia
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,2019,Sub-Saharan Africa
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,2019,NaN

In [30]:
dataset = pd.concat(dfs)

In [31]:
dataset

,Country,Region,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Trust,Generosity,Year
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2015
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2015
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2015
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,Sub-Saharan Africa,152,3.334,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,2019
152,Tanzania,Sub-Saharan Africa,153,3.231,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,2019
153,Afghanistan,Southern Asia,154,3.203,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,2019
154,Central African Republic,Sub-Saharan Africa,155,3.083,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,2019
155,South Sudan,NaN,156,2.853,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,2019

In [32]:
geo = pd.read_csv('./geo.csv')

In [33]:
geo

    country   latitude  longitude                  name
0        AD  42.546245   1.601554               Andorra
1        AE  23.424076  53.847818  United Arab Emirates
2        AF  33.939110  67.709953           Afghanistan
3        AG  17.060816 -61.796428   Antigua and Barbuda
4        AI  18.220554 -63.068615              Anguilla
..      ...        ...        ...                   ...
240      YE  15.552727  48.516388                 Yemen
241      YT -12.827500  45.166244               Mayotte
242      ZA -30.559482  22.937506          South Africa
243      ZM -13.133897  27.849332                Zambia
244      ZW -19.015438  29.154857              Zimbabwe

[245 rows x 4 columns]

In [41]:
dfinal = dataset.merge(geo, how='inner', left_on='Country', right_on='name')

In [43]:
dfinal

,Country,Region,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Trust,Generosity,Year,country,latitude,longitude,name
0,Switzerland,Western Europe,1,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2015,CH,46.818188,8.227512,Switzerland
1,Switzerland,Western Europe,2,7.509,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2016,CH,46.818188,8.227512,Switzerland
2,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017,CH,46.818188,8.227512,Switzerland
3,Switzerland,Western Europe,5,7.487,1.420000,1.549000,0.927000,0.660000,0.357000,0.256000,2018,CH,46.818188,8.227512,Switzerland
4,Switzerland,Western Europe,6,7.480,1.452000,1.526000,1.052000,0.572000,0.343000,0.263000,2019,CH,46.818188,8.227512,Switzerland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Namibia,Sub-Saharan Africa,113,4.574,0.932870,0.703620,0.347450,0.486140,0.103980,0.077950,2016,NaN,-22.957640,18.490410,Namibia
738,Namibia,NaN,111,4.574,0.964434,1.098471,0.338612,0.520304,0.093147,0.077134,2017,NaN,-22.957640,18.490410,Namibia
739,Namibia,NaN,119,4.441,0.874000,1.281000,0.365000,0.519000,0.064000,0.051000,2018,NaN,-22.957640,18.490410,Namibia
740,Namibia,NaN,113,4.639,0.879000,1.313000,0.477000,0.401000,0.056000,0.070000,2019,NaN,-22.957640,18.490410,Namibia
741,Gambia,NaN,120,4.516,0.308000,0.939000,0.428000,0.382000,0.167000,0.269000,2019,GM,13.443182,-15.310139,Gambia

In [51]:
for i in range(742):
    if dfinal['Country'][i]=='Belize':
        dfinal['Region'][i]=('Latin America and Caribbean')
    if dfinal['Country'][i]=='Somalia':
        dfinal['Region'][i]='Sub-Saharan Africa'
    if dfinal['Country'][i]=='Namibia':
        dfinal['Region'][i]='Sub-Saharan Africa'
        dfinal['country'][i]='SO'
    if dfinal['Country'][i]=='Gambia':
        dfinal['Region'][i]='Western Africa'

<ipython-input-51-67c0de7798f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal['Region'][i]=('Latin America and Caribbean')
<ipython-input-51-67c0de7798f9>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal['Region'][i]='Sub-Saharan Africa'
<ipython-input-51-67c0de7798f9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal['Region'][i]='Sub-Saharan Africa'
<ipython-input-51-67c0de7798f9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal['country'][i]='SO'
<ipython-input-51-67c0de7798f9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfinal['Region'][i]='Western Africa'

In [52]:
dfinal

,Country,Region,Happiness Rank,Happiness Score,GDP,Family,Life,Freedom,Trust,Generosity,Year,country,latitude,longitude,name
0,Switzerland,Western Europe,1,7.587,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2015,CH,46.818188,8.227512,Switzerland
1,Switzerland,Western Europe,2,7.509,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2016,CH,46.818188,8.227512,Switzerland
2,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2017,CH,46.818188,8.227512,Switzerland
3,Switzerland,Western Europe,5,7.487,1.420000,1.549000,0.927000,0.660000,0.357000,0.256000,2018,CH,46.818188,8.227512,Switzerland
4,Switzerland,Western Europe,6,7.480,1.452000,1.526000,1.052000,0.572000,0.343000,0.263000,2019,CH,46.818188,8.227512,Switzerland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,Namibia,Sub-Saharan Africa,113,4.574,0.932870,0.703620,0.347450,0.486140,0.103980,0.077950,2016,SO,-22.957640,18.490410,Namibia
738,Namibia,Sub-Saharan Africa,111,4.574,0.964434,1.098471,0.338612,0.520304,0.093147,0.077134,2017,SO,-22.957640,18.490410,Namibia
739,Namibia,Sub-Saharan Africa,119,4.441,0.874000,1.281000,0.365000,0.519000,0.064000,0.051000,2018,SO,-22.957640,18.490410,Namibia
740,Namibia,Sub-Saharan Africa,113,4.639,0.879000,1.313000,0.477000,0.401000,0.056000,0.070000,2019,SO,-22.957640,18.490410,Namibia
741,Gambia,Western Africa,120,4.516,0.308000,0.939000,0.428000,0.382000,0.167000,0.269000,2019,GM,13.443182,-15.310139,Gambia

In [53]:
dfinal.to_csv('dataset.csv')